/*
#E8D0A9 orange tan zombie
#B7AFA3 nomad orange
#C1DAD6 blue green jetstream
#F5FAFA catskill white
#ACD1E9 blue regent st blue
#6D929B gothic light blue
*/

body {
  background-color: #fff;
  font-family: 'Ubuntu', sans-serif;
  height: 100vh;
  color: black;
}

.w3-container {
  font-family: 'Ubuntu', sans-serif;
  color: black;
  background-color: #fff;
}

#content{
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  margin: 0;
  top: 5em;
  max-width: 600px;
}

#weatherData{
  margin-bottom: 10px;
}

#navigationBar {
  position: sticky;
  top: 0;
}
.fas{
  margin-left: 10px;
}

#map {
  height: 500px;
  width:100%;
  margin: auto;
  opacity: 1;
  z-index: 0;
  position: relative;
}

#btnVisited{
 font-size: 15px;
 border-radius: 5px;
 margin-bottom: 120px;
 border: none;
 background-color: rgb(75, 153, 51);
}

li{
  list-style-type: none;
  background-color: #fff;
  color: black;
  
}

.w3-button{
    background-color: #fff);
}
.w3-button:active{
    background-color: rgb(130, 77, 161);
  
}
.w3-button:hover{
  background-color: rgb(130, 77, 161);
}