/*
#E8D0A9 orange tan zombie
#B7AFA3 nomad orange
#C1DAD6 blue green jetstream
#F5FAFA catskill white
#ACD1E9 blue regent st blue
#6D929B gothic light blue
*/

body {
  background-color: #F5FAFA;
  font-family: 'Ubuntu', sans-serif;
}

.w3-container {
  font-family: 'Ubuntu', sans-serif;
  color: #F5FAFA;
  background-color: rgb(130, 77, 161);
}

#navigationBar {
  position: sticky;
  top: 0;
}
.fas{
  margin-left: 10px;
}

footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  text-align: center;
  margin: auto;
}

#countryButton{
  font-weight: bold;
  font-size: 1.3em
}


.w3-button{
    background-color: rgb(130, 77, 161);
}
.w3-button:active{
    background-color: rgb(130, 77, 161);
  
}
.w3-button:hover{
  background-color: rgb(130, 77, 161);
}